<h2>{{ title }}</h2>
<hr />

<section id="form">
    <form #formBeneficio="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nome:</label>
            <input type="text" name="nome" id="nome" [(ngModel)]="beneficio.nome" #nome="ngModel" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            <br>
            <label>CPF:</label>
            <input type="text" name="cpf" id="cpf" [(ngModel)]="beneficio.cpf" #cpf="ngModel" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            <br>
            <label>Órgão:</label>
            <input type="text" name="orgao" id="orgao" [(ngModel)]="beneficio.orgao" #orgao="ngModel" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            <br>
            <label>Matrícula:</label>
            <input type="text" name="matricula" id="matricula" [(ngModel)]="beneficio.matricula" #matricula="ngModel" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            <br>
            <label>Tipo:</label>
            <select name="tipo" id="tipo" [(ngModel)]="beneficio.tipo" #tipo="ngModel" required class="custom-select">
                <option value="1">Identificação</option>
                <option value="2">Vida Funcional</option>
                <option value="3">Contagem de Tempo</option>
                <option value="4">Remuneração/Proventos</option>
            </select>
            <br>
            <label>Arquivo:</label>
            <input type="file" name="arquivoPDF" id="arquivoPDF" [(ngModel)]="beneficio.arquivoPDF" #arquivoPDF="ngModel" required (change)="fileEventChange($event)" class="form-control-file" accept=".pdf">
        </div>
        <button type="submit" class="btn btn-primary mr-2" [disabled]="!formBeneficio.valid">Salvar</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['']">Cancelar</button>
    </form>
</section>